
/LuminousForts-AutoUpdate-Installer/obj
/LuminousForts-AutoUpdate-Installer/bin
/LuminousForts-AutoUpdate-GUI/bin
/LuminousForts-AutoUpdate-GUI/obj
/LuminousForts-AutoUpdate-Service/obj
/LuminousForts-AutoUpdate-Service/bin
/LuminousForts-AutoUpdate-Shared/bin
/LuminousForts-AutoUpdate-Shared/obj